<% @title = "パスワード変更" %>
<h2 class="mt-4 pb-2"><%= @title %></h2>

<div>
  <%= form_with model: @change_password_form, url: :staff_password, 
        method: :patch do |f| %>
    <!-- エラー表示用 -->
    <% if @change_password_form %>
      <% if @change_password_form.errors.any? %>
        <div id="error_explanation" class="alert alert-danger mt-2">
          <% @change_password_form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <!-- // エラー表示用 -->

    <div class="form-group">
      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password, required: true, class: "form-control" %> 
    </div>
    <div class="form-group">
      <%= f.label :new_password, "新しいパスワード" %>
      <%= f.password_field :new_password, required: true, class: "form-control" %> 
    </div>
    <div class="form-group">
      <%= f.label :new_password_confirmation, "新しいパスワード（確認用）" %>
      <%= f.password_field :new_password_confirmation, required: true, class: "form-control" %> 
    </div>
    <div class="mb-3 text-center">
      <%= f.submit "変更", class: "btn btn-info mr-2" %>
      <%= link_to "キャンセル", :staff_account, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>