<div class="form-group">
  <%= f.label :email, "メールアドレス", class: "mt-2 ml-2" %>
  <span class="badge badge-danger ml-2">必須</span>
  <%= f.text_field :email, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password, "パスワード", class: "ml-2" %>
  <span class="badge badge-danger ml-2">必須</span>
  <%= f.password_field :password, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :family_name, "氏名", class: "ml-2" %>
  <span class="badge badge-danger ml-2">必須</span>
  <div class="row">
    <div class="col">
      <%= f.text_field :family_name, required: true, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.text_field :given_name, required: true, class: "form-control" %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :family_name_kana, "フリガナ", class: "ml-2" %>
  <span class="badge badge-danger ml-2">必須</span>
  <div class="row">
    <div class="col">
      <%= f.text_field :family_name_kana, required: true, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.text_field :given_name_kana, required: true, class: "form-control" %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :start_date, "入社日", class: "ml-2" %>
  <span class="badge badge-danger ml-2">必須</span>
  <%= f.date_field :start_date, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :end_date, "退職日", class: "ml-2" %>
  <%= f.date_field :end_date, class: "form-control" %>
</div>
<div class="form-group form-check">
  <%= f.check_box :suspected %>
  <%= f.label :suspected, "アカウント停止" %>
</div>