<% @title = "顧客の新規登録" %>
<h2 class="my-4"><%= @title %></h2>

<div>
  <%= form_with model: @customer_form, class: "card bg-light px-5 py-2",
        url: :staff_customers, scope: "form" do |f| %>
    <%= render "form", f: f %>
    <div class="mb-3 ml-3">
      <%= f.submit "登録", class: "btn btn-info" %>
      <%= link_to "キャンセル", :staff_customers, class: "btn btn-danger ml-3" %>
    </div>
  <% end %>
</div>