<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "staff/shared/header" %>
      <%= content_tag(:div, flash.notice, class: "alert alert-success w-auto") if flash.notice %>
      <%= content_tag(:div, flash.alert, class: "alert alert-danger w-auto") if flash.alert %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>